---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import { changeLanguage } from "i18next";

changeLanguage("en");
---

<Layout title="About Us - Tiktokio Tiktok Downloader" description="Learn all about Tiktokio, so you can get know all the information about Tiktokio - Tiktok Downloader">
  <Container>
    <div class="content my-10">
      <div class="relative p-4">
        <div class="max-w-screen-xl mx-auto">
          <div class="mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
            <div class="">
              <h2 class="text-gray-900 font-bold text-4xl">About us</h2>
              <br />
              <hr />
              <p class="text-base leading-8 my-5">
               The sTiktokio.com With the goal of making it as simple as possible to download movies from TikTok without a watermark, Kim began operations in 2024. Users ought to be able to save TikTok movies without watermarks or logos using their web browser without installing or updating any software. Stiktokio is constantly changing, and we're working to make our services better. The TikTok Story Viewer and TikTok Story Downloader tools, which we recently added to STiktokio's features, have thankfully been positively appreciated by users.
              </p>

              <h3 class="text-2xl font-bold my-5">Our mission</h3>

              <p class="text-base leading-8 my-5">
               Our goal is to offer a quick and easy way to download TikTok videos or images without watermarks. You may quickly save your preferred TikTok videos, reels, Tiktok Photos and slideshow, Tiktok Stories and convert Tiktok videos in Mp3 to your smartphone and watch them offline by using our services.
              </p>

              <h3 class="text-2xl font-bold my-5">Tiktokio Offers</h3>
              <p class="text-base leading-8 my-5">Our users receive the greatest services from us. The following are a few services that SnapTik offers its users:</p>
              <p class="text-base leading-8 my-5">1. TikTok Video Downloader: Get TikTok videos without a logo or watermark.</p>
              <p class="text-base leading-8 my-5">2. TikTok Story Downloader: Download Tiktok Stories watermark-free MP4 versions.</p>
              <p class="text-base leading-8 my-5">3. TikTok Slideshow Downloader: Any image or video from TikTok slideshows can be downloaded with the TikTok Slideshow Downloader.</p>
              <p class="text-base leading-8 my-5">4. TikTok Sound Downloader: Download TikTok MP3 or Sound for free.</p>
              <p class="text-base leading-8 my-5">5. TikTok Story Viewer: An anonymous way to view and download TikTok Story.</p>

              <h3 class="text-2xl font-bold my-5">Advantages of STiktokio</h3>

              <p class="text-base leading-8 my-5">Here are some of the advantages of Tiktokio:</p>
              <p class="text-base leading-8 my-5">1. <strong>No Watermark:</strong> With Tiktokio, you download TikTok videos without watermarks or logos.</p>
              <p class="text-base leading-8 my-5">1. <strong>Completely Free:</strong> All services provided by STiktokio/Tiktokio are free.</p>
              <p class="text-base leading-8 my-5">1. <strong>Cross-Platform Compatibility:</strong> Tiktokio/STiktokio is a web-based tool; you don't need to install any application to use it. You can use it on smartphones, tablets and PCs.</p>
              <p class="text-base leading-8 my-5">1. <strong>High-Quality Downloads:</strong> Download TikTok videos with original quality and without without quality loss.</p>
              <p class="text-base leading-8 my-5">1. <strong>Easy To Use:</strong> STiktokio or Tiktokio makes it easy to download videos from TikTok with a simple user interface, no need to register, and no need to install the app.</p>
              <p class="text-base leading-8 my-5">1. <strong>MP4 Downloads:</strong> STiktokio or Tiktokio provides TikTok videos in MP4 format, a common video format well supported by all players.</p>
              <p class="text-base leading-8 my-5">1. <strong>Multilingual Support:</strong> Our service supports various languages to cater to a global audience.</p>            

              <h3 class="text-2xl font-bold my-5">Our Beliefs</h3>
              <p class="text-base leading-8 my-5">Tiktokio or Stiktokio is committed to provide the following services:</p>
              <p class="text-base leading-8 my-5">1. <strong>Community-oriented:</strong> We listen to our users' Feedback and constantly improve our services.</p>
              <p class="text-base leading-8 my-5">1. <strong>Trustworthy:</strong> Tiktokio ensure the privacy of our users by not saving downloaded videos and their download history.</p>
              <p class="text-base leading-8 my-5">1. <strong>Easy-To-Use:</strong> STiktokio or Tiktokio is designed so everyone can use it easily without special knowledge.</p>            
              
              <h3 class="text-2xl font-bold my-5">Send us your Feedback</h3>
              <p class="text-base leading-8 my-5">Tiktokio or Stiktoki's team always ready to hear your comments, suggestions and criticisms. Your Feedback helps us improve the performance of our services. You can send us your feedback through the <a href="/contact-us/"><strong>Contact Us</strong></a> page.</p>




            </div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
